* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: lightgray;
    font-family: 'Helvetica', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    width: 100%;
    max-width: 1920px;
    align-self: center;
    background-color: white;
}

p{
    font-size: medium;
}

li{
    font-size: medium;
}

.banner {
    background-color: #009e47;
    background-image: url("../Imagens/Sou Aluno/faxinha.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    min-height: 120px;
    max-height: 120px;
}

.banner h1 {
    color: white;
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

section {
    width: 100%;
    box-sizing: border-box;
}

.atendimento {
    padding: 30px 30px 10px 30px;
    background-color: #dfdfdf;
    align-items: center;
    text-align: justify;
}

.botoes {
    display: flex; /* Alinha os itens horizontalmente */
    justify-content: center; /* Centraliza os itens no contêiner */
    flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
    margin-top: 10px;
    text-align: center;
}

.botoes a {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    width: 200px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.178);
    border: solid 2px rgb(207, 207, 207);
    background-color: #333;  
    text-decoration: none;
    color: white;
}

.botoes a:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.315);
    background-color: #2f9e41;
    color: white;
}

.contatos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

.contatos-tecnicos {
    background-color: #f5f5f5;
}

.contatos-docentes {
    background-color: white;
}

article h2 {
    text-align: center;
    padding: 20px 20px 0px 20px;
    text-decoration: overline 3px rgb(129, 0, 0);
}

table {
    align-items: center;
    width: 90%;
}

.contatos-docentes table {
    align-items: center;
    width: 110%;
}

.cargo {
    padding: 25px 10px 5px 10px;
    text-align: center;
}

.nome, .email { 
    width: 50%; /* Deixa a tabela meio a meio */
    padding-top: 5px;
    padding-bottom: 5px;
}

.email {
    padding-left: 1px;
    text-align: left;
}

.docentes-administracao:last-child {
    padding-top: 10px;
}

.contatos-docentes .nome {
    padding-top: 20px;
    padding-bottom: 5px;
}

.contatos-docentes .email {
    padding-top: 20px;
    padding-bottom: 5px;
}

.nome {
    text-align: right;
}

#faixa {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 134, 40);
}

/* media query */

/* Telas grandes (1920px e acima) */
@media (min-width: 1920px) {
    .banner{
        height: 250px;
        font-size: 2rem;
    }

    .atendimento, .contatos {
        font-size: 1.5rem;
    }

    .botoes a{
        width: 250px;
        height: 120px;
    }
}

/* Telas médias (768px a 1199px)*/
@media (min-width: 769px) {
    .banner{
        height: 120px;
        font-size: 1.5rem;
    }

    .atendimento, .contatos {
        font-size: 1rem;
    }

    .botoes a{
        width: 210px;
        height: 70px;
    }
}

/* Telas pequenas (abaixo de 768px) */
@media (max-width: 768px) {
    .banner{
        height: 120px;
        font-size: 1rem;
    }

    .atendimento, .contatos, .contatos-tecnicos, .contatos-docentes {
        text-align: center;
        font-size: 0.6rem;
    }

    .contatos-tecnicos, .contatos-docentes {
        display: flex;
        justify-content: center;
    }

    .botoes a{
        width: 120px;
        height: 50px;
    }
}