body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1b8a3c;
}

.banner {
    background-color: #009e47;
    background-image: url("../Imagens/Sou Aluno/faxinha.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    min-height: 120px;
    max-height: 120px;
    color: white;
}
