* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    width: 100%;
    max-width: 1920px;
    align-self: center;
    background-color: white;
}

.banner {
    background-color: #009e47;
    background-image: url("../Imagens/Sou Aluno/faxinha.png");
    background-size: 100%;
    background-position: 20px;
    width: 100%;
    height: 150px;
}

h1 {
    margin-top: 4%;
    margin-left: 30px;
    color: white;
}

section {
    width: 100%;
    box-sizing: border-box;
}

.atendimento {
    padding: 30px 30px 10px 30px;
    background-color: #dfdfdf;
    align-items: center;
    text-align: justify;
}

.botoes {
    display: flex; /* Alinha os itens horizontalmente */
    justify-content: center; /* Centraliza os itens no contêiner */
    flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
    gap: 100px; /* Espaçamento entre os botões */
    margin-top: 10px;
    text-align: center;
}

.botoes a {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    max-width: 150px; /* Define uma largura mínima */
    height: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.178);
    border: solid 2px rgb(207, 207, 207);
    background-color: #333;  
    text-decoration: none;
    color: white;
}

.botoes a:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.315);
    background-color: #2f9e41;
    color: white;
}

.contatos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

.contatos-tecnicos {
    background-color: #f5f5f5;
}

.contatos-docentes {
    background-color: white;
}

article h2 {
    text-align: center;
    padding: 20px 20px 0px 20px;
    text-decoration: overline 3px rgb(129, 0, 0);
}

table {
    align-items: center;
    width: 90%;
}

.contatos-docentes table {
    align-items: center;
    width: 110%;
}

.cargo {
    padding: 25px 10px 5px 10px;
    text-align: center;
}

.nome, .email { 
    width: 50%; /* Deixa a tabela meio a meio */
    padding-top: 5px;
    padding-bottom: 5px;
}

.email {
    padding-left: 1px;
    text-align: left;
}

.docentes-administracao:last-child {
    padding-top: 10px;
}

.contatos-docentes .nome {
    padding-top: 20px;
    padding-bottom: 5px;
}

.contatos-docentes .email {
    padding-top: 20px;
    padding-bottom: 5px;
}

.nome {
    text-align: right;
}

#faixa {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 134, 40);
}

.contato-form {
    padding: 30px 30px 10px 30px;
    background-color: #dfdfdf;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.campo_msg{
    width: 600px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align:left;
    vertical-align: top;
    resize: none;
}

.campo_msg textarea::placeholder{ 
    color: #999;
    text-align: left;
}

input.controle_form {
    width: 600px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-contato { 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.botao{
    width: 70px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
/*------------------------------------

.email-direcao-texto { 
    width: 100%; 
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    border-radius: 1px;
    border: 2px solid black;
} 


pre {
    padding: 10px 20px 10px 20px;
}

.email-tecnicos, .info, .adm {  
    padding: 20px;
    border: 20px;
    text-align: center;
    border: 1px solid black;
} 

.email-tecnicos-texto{ 
    justify-content: space-between;
    gap: 50px;
    font-size: 17px;
    text-align: left;
    border: 2px solid black;
    margin-bottom: 20px;
} 

.email-docentes-texto { 
    gap: 50px;
    font-size: 17px;
    text-align: right;
    border: 2px solid black;
} 

.email-tecnicos, .info, .adm {  
    margin-top: 20px;
    background: #333;
}

.adm{
    margin-top: 39px;
}

--------------------------------*/

