* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

header a, .header a, .menu-visivel a {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    border-bottom: solid #cf001c 2px;
    box-shadow: 0px 5px 6px 0px #00000042;
    z-index: 1000;
}

.header-expansao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    border-bottom: solid #e9e9e9 2px;
    z-index: 1000;
}

.ifpr-logo {
    display: flex;
    max-width: 58%;
    flex-wrap: wrap;
    margin-left: 10px;
}

.header-navegacao {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-navegacao a {
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
}

.header-navegacao a:hover {
    color: #00b050;
    text-decoration: underline;
    cursor: pointer;
}

.seta { 
    width: 12px;
    height: 7px;
    align-self: center;
    margin-right: 3px;
    padding-right: 3px;
    filter: brightness(0%); /* Muda a cor da seta para preto */
}

#nav-aluno:hover .seta {
    filter: brightness(70%) invert(48%) sepia(100%) saturate(7500%) hue-rotate(90deg); /* Muda a cor da seta para verde */
}

.menu-oculto {
    display: none;
}

.menu-visivel {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 50px;
    border-bottom: solid #cf001c 2px;
    background-color: whitesmoke;
    box-shadow: 0px 5px 6px 0px #00000042;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-right: 20px;
}

.menu-nav a {
    color: black;
    font-weight: bold;
}

.menu-nav a:hover {
    color: #00b050;
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    background-color: #333;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer .item {
    display: flex; 
    align-items: center;
    max-width: 100px;
}

.footer .item img {
    max-width: 20px;
    height: auto;
    margin-right: 8px;
}

.footer .instagram {
    order: 1;
    color: rgba(255, 255, 255, 0.805);
}

.footer .facebook {
    order: 2;
    color: rgba(255, 255, 255, 0.805);
}

.footer .institucional {
    order: 3;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.805);
}

.footer .instagram:hover {
    color:  #cd191e;    /* (Opcional) Muda a cor ao passar o mouse */
    text-decoration: underline; /* (Opcional) Adiciona sublinhado ao passar o mouse */
}

.footer .facebook:hover {
    color: #cd191e; /* (Opcional) Muda a cor ao passar o mouse */
    text-decoration: underline; /* (Opcional) Adiciona sublinhado ao passar o mouse */
}

.footer .institucional:hover {
    color: #cd191e; /* (Opcional) Muda a cor ao passar o mouse */
    text-decoration: underline; /* (Opcional) Adiciona sublinhado ao passar o mouse */
}