* {
    margin: 0;
    padding: 0;
}

body { 
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: "Helvetica", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    max-width: 1920px;
    align-self: center;
    background-color: white;
}

p{
    font-size: medium;
}

li{
    font-size: medium;
}
.banner {
    background-color: #009e47;
    background-image: url("../Imagens/Sou Aluno/faxinha.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    min-height: 120px;
    max-height: 120px;
}

.banner h1 {
    color: white;
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

h1 {
    margin-top: 4%;
    margin-left: 30px;
    font-size: 2rem;
    color: white;
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    text-align: justify;
}

.descricao {
    background-color: #f7f7f7;
}

.avaliacao, .projetosepesquisa {
    display: flex;
    flex-direction: column;
}

ul, ol {
    margin-left: 30px;
}

.avaliacao-aviso {
    width: 60%;
    background-color: #292929;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    align-self: center;
    color: white;
}

table {
    width: 60%;
    align-self: center;
    border: solid 1px rgb(134, 204, 88);
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: rgb(134, 204, 88);
    color: white;
    border-bottom: solid 4px rgb(123, 187, 80);
}

#atividades {
    color: black;
    background-color: #dff0d9;
}

th, td {
    padding: 5px;
    border: solid 1px rgb(134, 204, 88);
}

.nome {
    width: 20%;
}

.fundo-cinza {
    background-color: #dff0d9;
}

.faltas {
    background-color: #ececec;
}

.assistencia {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
}

.assistencia-programas {
    width: 90%;
    margin-bottom: 20px;
    padding: 0px;
    align-self: center;
}

.assistencia-itens {
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    border-bottom: solid 1px rgb(212, 212, 212);
}

.seta {
    width: 12px;
    height: 7px;
    padding-right: 10px;
    align-self: center;
    margin-right: 3px;
    filter: brightness(0%);
}

.assistencia-itens:hover {
    color: green;
    cursor: pointer;
}

.assistencia-itens:hover .seta {
    filter: brightness(70%) invert(48%) sepia(100%) saturate(7500%) hue-rotate(90deg); 
}

.assistencia-descricao {
    width: 100%;
    display: none;
    background-color: rgb(228, 228, 228);
    padding: 20px 20px 5px 20px;
    box-sizing: border-box;
}

.assistencia-descricao p {
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
    text-align: justify;
}

.aproveitamento {
    display: flex;
    flex-direction: column;
}

.aproveitamento-aviso {
    width: 60%;
    background-color: #292929;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    align-self: center;
    color: white
}

#faixa {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 134, 40);
}

.hyperlink {
    color: black; 
    text-decoration: none; 
    font-weight: bold; 
}

.hyperlink:hover {
    color: rgb(0, 176, 80); 
    text-decoration: underline;
}

/* media query */

/* telas grandes (1920px e acima) */
@media (min-width: 1920px) {
    .banner {
        height: 250px;
        font-size: 2rem;
    }

    .descricao, .avaliacao, .faltas, .projetosepesquisa, .assistencia, .aproveitamento {
        font-size: 1.5rem;
    }
}

/* telas médias (768px a 1199px)*/
@media (min-width: 769px) {
    .banner {
        height: 120px;
        font-size: 1.3rem;
    }

    .descricao, .avaliacao, .faltas, .projetosepesquisa, .assistencia, .aproveitamento {
        font-size: 1.1rem;
    }
}

/* telas pequenas (abaixo de 768px) */
@media (max-width: 768px) {
    .banner {
        height: 80px;
        font-size: 1.0rem;
    }

    .descricao, .avaliacao, .faltas, .projetosepesquisa, .assistencia, .aproveitamento {
        font-size: 0.8rem;
    }
}