* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.header-navegacao {
    width: 40%;
    display: flex; 
    justify-content: space-around;
}

.ifpr_pinhais{
    display: flex;
    max-width: 58%;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: space-around;
}

footer {
    background-color: #333;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    bottom: 0;
}

.footer .item {
    display: flex; 
    align-items: center;
    max-width: 100px;
}

.footer .item img {
    max-width: 20px;
    height: auto;
    margin-right: 8px;
}

.footer .instagram {
    order: 1;
}

.footer .facebook {
    order: 2;
}

.footer .institucional {
    order: 3;
    margin-right: 20px;
}

/*-------------------- Corpo ----------------------*/

body { 
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    max-width: 1920px;

    align-self: center;
    background-color: white;
}

section {
    margin: 30px;
}
