* {
    margin: 0;
    padding: 0;
}

body { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    background-color: #00b050;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    height: 60px;
    /* box-shadow: 10px 10px 15px red;  A VALIDAR */
}

.header-navegacao {
    width: 40%;
    display: flex; 
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.805);
}

.ifpr_pinhais{
    display: flex;
    max-width: 58%;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: space-around;
}

.footer{
    background-color: #333;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer .item {
    display: flex; 
    align-items: center;
    max-width: 100px;
}

.footer .item img {
    max-width: 20px;
    height: auto;
    margin-right: 8px;
}

.footer .instagram {
    order: 1;
    color: rgba(255, 255, 255, 0.805);
}

.footer .facebook {
    order: 2;
    color: rgba(255, 255, 255, 0.805);
}

.footer .institucional {
    order: 3;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.805);
}

/*-------------------Corpo----------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    width: 90%;
    max-width: 1200px;
    align-self: center;
    background-color: white;
}

.banner {
    background-color: red;
    width: 100%;
    height: 150px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.imagem-matriz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-matriz img {
    max-width: 90%;
}

.grade {
    width: 90%;
    margin-bottom: 20px;
}

.seta { 
    width: 15px;
    height: 10px;
    align-self: center;
    margin-right: 3px;
    filter: brightness(0%);
}

.semestre-titulo {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    border-bottom: solid 1px rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
}

.semestre-titulo:hover {
    color: green;
    cursor: pointer;
}

.semestre-titulo:hover .seta {
    filter: brightness(70%) invert(48%) sepia(100%) saturate(7500%) hue-rotate(90deg); /*Muda a cor da seta*/
}

.semestre-disciplinas {
    background-color: rgb(247, 247, 247);
    display: none;
    box-sizing: border-box;
    padding: 20px;
}

.disciplina {
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.116);
    text-align: justify;
}

.disciplina:last-child { 
    margin-bottom: 0; /* Remove o margin-bottom do último bloco */ 
}

.optativa {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgb(212, 212, 212);
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
}

.optativa:hover{
    color: green;
    cursor: pointer;
}

.optativa:hover .seta {
    filter: brightness(70%) invert(48%) sepia(100%) saturate(7500%) hue-rotate(90deg); /*Muda a cor da seta*/
}

.optativa-descricao {
    background-color: rgb(247, 247, 247);
    display: none;
    box-sizing: border-box;
    padding: 20px;
}



