* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #00b050;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: gray;
}

.header-navegacao {
    width: 40%;
    display: flex; 
    justify-content: space-around;
}

.ifpr_pinhais{
    display: flex;
    max-width: 58%;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#faixa-vermelha {
    padding: 3px;
    background-color: #ce181e;
    width: 100%;
}

.footer{
    background-color: gray;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer .item {
    display: flex; 
    align-items: center;
    max-width: 100px;
}

.footer .item img {
    max-width: 20px;
    height: auto;
    margin-right: 8px;
}

.footer .instagram {
    order: 1;
    color: rgba(255, 255, 255, 0.805);
}

.footer .facebook {
    order: 2;
    color: rgba(255, 255, 255, 0.805);
}

.footer .institucional {
    order: 3;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.805);
}

.banner-aluno { 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.322); /* Fundo branco com transparência */
    text-align: center;
    margin-bottom: 2rem; /* Espaço abaixo do banner */
    padding: 7rem;
}

.botao-iniciar { 
    background-color: red; 
    color: white; 
    padding: 0.75rem 1.5rem;
    margin-top: 1rem; /*Distância entre os elementos*/
    border-radius: 4px;
}

.blocos-area-alunos {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    width: 85%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.blocos-area-alunos>h2 {
    text-align: justify;
}

.blocos { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 3rem;
}

.bloco { 
    background-color: white; 
    padding: 1.5rem; 
    border-radius: 8px; 
    text-decoration: none;
    width: 20%;
}