* {
    margin: 0;
    padding: 0;
}

body { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    width: 100%;
    max-width: 1920px;
    align-self: center;
    background-color: white;
}

.main-inicio {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    overflow-x: hidden;    
    background-image: url("../Imagens/Página Inicial/banner.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}  

.sobreposicao {
    width: 100%;
    height: 100%;
    background-color: rgba(195, 197, 195, 0.5); /* Cor cinza com 50% de opacidade */  
}

.banner-inicio {   
    box-sizing: border-box;
    width: 100%;  
    text-align: right; /* Para alinhar o texto à direita */  
    margin-bottom: 2rem;  
    padding: 2rem;  
    font-size: 20px;  
    font-style: italic;  
    display: flex;  
    flex-direction: column; /* Alinha os itens em coluna */  
    align-items: center; /* Alinha os itens à direita */  
}  

#banner-logo {  
    width: 20%; /* O tamanho do logo pode ser ajustado */  
    height: auto; /* Mantém a proporção */  
    margin-bottom: 1rem; /* Espaço entre o logo e o texto */  
} 

.banner-inicio h1, .banner-inicio p {  
    color: white;
    margin: 0; /* Remove margens do h1 e p */ 
    background: #333; 
}  

.caixas-inicio {  
    border-radius: 20px;  
    display: flex;  
    align-items: center; /* Centraliza verticalmente */  
    justify-content: center; /* Centraliza horizontalmente */  
    width: 50%; /* A largura desta div é 80% do container pai */  
    margin: 0 auto 20px; /* Centraliza a div em relação ao pai e adiciona uma margem inferior */  
    flex-wrap: wrap; /* Permite que os itens se movam para a linha abaixo se não houver espaço */  
    align-content: center;
    text-align: center;
}  

.caixas-inicio a {  
    border-radius: 20px;  
    background-color: #333;  
    text-decoration: none;   
    text-align: center;  
    margin: 0 1rem; /* Margem lateral para espaçamento entre as caixas */  
    display: flex;   
    flex-direction: column;   
    align-items: center;  
    justify-content: center; /* Centraliza verticalmente */  
    color: white;  
    font-style: italic;  
    font-size: 35px;  
    flex: 1; /* Faz com que as caixas cresçam igualmente */  
    height: 340px; /* Defina uma altura fixa ou ajustável conforme necessário */  
}  

.caixas-inicio a figure {   
    border-radius: 10px;  
    max-width: 100%;   
    height: auto;   
    background-color: black;  
    padding: 5px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}  

.queroSerAluno{
    display: flex;
    max-width: 5%;
    flex-wrap: wrap;
    margin-left: 1px;
    justify-content: space-around;
}

.queroSerAluno{
    max-width: 100%;
}

.souAluno{
    max-width: 100%;
}



 



