* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

body { 
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.banner {
    background-image: url("../Imagens/Sou Aluno/banner-sou-aluno.webp");
    background-size: cover;
    width: 100%;
    height: 400px;
}

p{
    font-size: medium;
}

li{
    font-size: medium;
}

/*
.banner-texto {
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
    color: black;
}
*/
.banner-texto {   
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
    background-color: rgba(121, 168, 129, 0.199);
    text-align: center;
    border-radius: 500px;
    padding: 10px;
    
}

.banner-texto h1, .banner-texto p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.945);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    background-color: white;
}

.faixinha {
    background-color: #009e47;
    background-image: url("../Imagens/Sou Aluno/faxinha.png");
    background-size: 100%;
    background-position: 20px;
    width: 100%;
    height: 150px;
}

.faixinha h1 {
    padding-top: 3rem;
    margin-left: 30px;
    color: white;
    text-align: left;
}

h2 {
    text-align: center;
}

#painel {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo na vertical */
    align-items: center;   /* Centraliza o conteúdo horizontalmente */
    background: #838a8d;
    color: white;
    padding: 20px 20px 10px 20px;         /* Adiciona um pouco de espaçamento interno */
    font-size: 1.2rem;
}

.botoes {
    display: flex; /* Alinha os itens horizontalmente */
    justify-content: center; /* Centraliza os itens no contêiner */
    flex-wrap: wrap; /* Permite que os itens quebrem linha, se necessário */
    gap: 100px; /* Espaçamento entre os botões */
    margin-top: 10px;
    text-align: center;
}

.botoes a {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.178);
    border: solid 2px rgb(207, 207, 207);
    background-color: #747373;  
    text-decoration: none;
    color: white;
}

.botoes a:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.315);
    background-color: #2f9e41;
    color: white;
}

.link {
    width: 150px;
    height: 75px;
    margin: 10px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.178);
    border: 2px solid #333;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; 
}

.link:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.356);
    background-color: rgb(0, 176, 80);
}

.paginas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;    
}

.bloco {
    width: 40%;
    min-width: 500px;
    margin: 20px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    align-content: center;
    text-align: justify;
}

.blocoprincipal {
    width: 40%;
    min-width: 500px;
    margin: 20px;
    margin-left: 380px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    align-content: center;
    text-align: justify;
    margin-left: 500;

}

.bloco p {
    padding-bottom: 10px;
}


.bloco:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.356);
    cursor: pointer;
    background-color: rgb(238, 236, 236);   
}

.icone {
    width: 17%;
}

.jornada {
    text-align: center;
}

#faixa {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 134, 40);
}

/* media query */

/* telas grandes (1920px e acima) */
@media (min-width: 1920px) {
    .banner {
        font-size: 2rem;
        height: 500px;
    }

    .faixinha {
        font-size: 2rem;
        height: 400px;
    }

    #painel{
        font-size: 2rem;
    }

    .botoes a {
        width: 300px;
        height: 80px;
    }

    .bloco {
        width: 40%;
        min-width: 600px;
        padding: 20px;
        font-size: 1.5rem;
    }
}    

/* telas médias (768px a 1199px)*/
@media (min-width: 769px) {
    .banner {
        font-size: 1rem;
        height: 400px;
    }

    .faixinha {
        font-size: 1rem;
        height: 8rem;
    }

    #painel{
        font-size: 1rem;
    }

    .botoes a {
        width: 100px;
        height: 50px;
    }

    .bloco {
        width: 40%;
        min-width: 400px;
        padding: 20px;
        font-size: 1rem;
    }

} 
/* telas pequenas (abaixo de 768px) */
@media (max-width: 768px) {
    .banner {
        font-size: 0.6rem;
        height: 200px;
    }

    .banner-texto {
        width: 70%;
    }

    .faixinha {
        font-size: 0.6rem;
        height: 100px;
    }

    #painel{
        font-size: 0.8rem;
    }

    .botoes a {
        width: 100px;
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    .bloco {
        width: 80%;
        padding: 20px;
        font-size: 1.2rem;
    }
}